page-user{

.toolbar-background-ios {
      background: #f03744;
  }
  .item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0.55px #f03744;
}
.n1{
    background-color: #f03744;
    h1{
        text-align: left;
        font-size: 2.7rem;
        font-weight: 600;
        color: #fff;
        pointer-events: auto;
    }
        p{
        color: white;
    }

}
}

