.ion-ios-tab-dictionary {  
  content: url("../assets/img/tabs/词典1.png");  
}  
  
.ion-ios-tab-dictionary-outline {  
  content: url("../assets/img/tabs/词典.png");  
}  
  
.tabs-md .tab-button[aria-selected=true] .ion-md-tab-dictionary {  
  content: url("../assets/img/tabs/词典.png");  
}  
  
.tabs-md .tab-button[aria-selected=false] .ion-md-tab-dictionary {  
  content: url("../assets/img/tabs/词典.png");  
}  

.ion-ios-tab-translate {  
  content: url("../assets/img/tabs/翻译1.png");  
}  
  
.ion-ios-tab-translate-outline {  
  content: url("../assets/img/tabs/翻译.png");  
}  
  
.tabs-md .tab-button[aria-selected=true] .ion-md-tab-translate {  
  content: url("../assets/img/tabs/翻译1.png");  
}  
  
.tabs-md .tab-button[aria-selected=false] .ion-md-tab-translate {  
  content: url("../assets/img/tabs/翻译.png");  
}  

.ion-ios-tab-course {  
  content: url("../assets/img/tabs/精品课1.png");  
}  
  
.ion-ios-tab-course-outline {  
  content: url("../assets/img/tabs/精品课.png");  
}  
  
.tabs-md .tab-button[aria-selected=true] .ion-md-tab-course {  
  content: url("../assets/img/tabs/精品课1.png");  
}  
  
.tabs-md .tab-button[aria-selected=false] .ion-md-tab-course {  
  content: url("../assets/img/tabs/精品课.png");  
}  

.ion-ios-tab-discovery {  
  content: url("../assets/img/tabs/发现1.png");  
}  
  
.ion-ios-tab-discovery-outline {  
  content: url("../assets/img/tabs/发现.png");  
}  
  
.tabs-md .tab-button[aria-selected=true] .ion-md-tab-discovery {  
  content: url("../assets/img/tabs/发现1.png");  
}  
  
.tabs-md .tab-button[aria-selected=false] .ion-md-tab-discovery {  
  content: url("../assets/img/tabs/发现.png");  
}  

.ion-ios-tab-user {  
  content: url("../assets/img/tabs/我的1.png");  
}  
  
.ion-ios-tab-user-outline {  
  content: url("../assets/img/tabs/我的.png");  
}  
  
.tabs-md .tab-button[aria-selected=true] .ion-md-tab-user {  
  content: url("../assets/img/tabs/我的1.png");  
}  
  
.tabs-md .tab-button[aria-selected=false] .ion-md-tab-user {  
  content: url("../assets/img/tabs/我的.png");  
}  