page-course{
.col{
    height:100px;
    width:100px;
    text-align:center;
}
.searchbar-input-container{
    background-color: white;
}


.toolbar-background-ios{
    background-color:rgba(255,255,255,0);
}
.fixed-content{
     margin-top: 0px;
}
.icon{

    width:50%;

}
.ren{
    color:white;
    font-size: 45px;
}
}
